* {background-color: bisque;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
body {text-align: center;}

ul {list-style-type:square; 
    text-align: justify; 
    display: inline-block;}

ol {text-align: left; 
    display: inline-block;}

li {margin: 10px;}
